*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  width: 67%;
}


#nav-horizontal ul {
  list-style: none;
  padding: 0;
  background-color: #b7e4c7 ;
}

#nav-horizontal ul li {
  display: inline;

}


#nav-horizontal ul li a {
  color: rgb(255, 255, 255);
  padding: 1.05%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: backgroud .4s;
}

#nav-horizontal  ul li a:hover {
  background-color: #57b788;  
}

#nav-horizontal ul li:last-child a {
  float: right;
}
#imagem {
  height: 100%;
  max-width: 100%;
  padding: 2% 12%;



}