*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  height: 100%;
  max-width: 100%;
}
.container {
  margin: 0 auto;
  width: 100%;
}

.imagem {
  width: auto;
  height: 100%;
  float: none;
  padding: 3% 25%;
  background-color: #f0fff5;

}


.nav-horizontal ul {
  list-style: none;
  padding: 0;
  background-color: #b7e4c7 ;
}

.nav-horizontal ul li {
  display: inline;

}

.nav-horizontal ul li a {
  color: rgb(255, 255, 255);
  padding: 2%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.nav-horizontal ul li a:hover {
  background-color: #0bd692;
}


@media all and (max-width 320px) {
  .nav-horizontal ul li a{
      float: none;
      width: auto;
  }

  .menu {
    float: none;
    width: auto;
  }
}
@media all and (max-width 640px) {
  .container {
    float: none;
    width: auto;
  }

}
